<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="theme-color" content="#e3464c">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Login</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="https://unpkg.com/jwt-decode@3.1.2/build/jwt-decode.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body id="bodyLogin">
    <div>
        <form id="loginForm" action="" method="POST">
            </div>
                <div>
                    <label for="inputEmail" style="user-select: none;">E-mail</label>
                    <input id="inputEmail" maxlength="50" type="email" name="email" value="" required>
                </div>
                <div>
                    <label style="user-select: none;">Password</label>
                    <input maxlength="57" type="password" name="senha" id="inputSenha" required>
                </div>
                <div style="margin-bottom: 15px; text-align: center; font-weight: bold; color: red; font-size: 11px">
                    <span id="errorMsg" hidden>Error!</span>
                </div>
                <div>
                    <input id="btnSignin" type="submit" value="Login">
                </div>
        </form>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#loginForm').on('submit', function (e) {
            e.preventDefault();

            var email = $("#inputEmail").val();
            var senha = $("#inputSenha").val();

            if (email == "" || senha == "") {
                $("#errorMsg").removeAttr("hidden");
                $("#errorMsg").html("Email e senha obrigatorios!");
                return;
            }

            const formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: '/Autenticacao/Login',
                data: formData,
                success: function (response) {
                    if(response.success) {
                        window.location.href = "/";
                    } else {
                        $("#errorMsg").removeAttr("hidden");
                        $("#errorMsg").html(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Ocorreu um erro: ' + error + " " + xhr + " " + status);
                }
            });
        });
    });
</script>