<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e3464c">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Software</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
</head>
<!DOCTYPE html>
<html lang='{{Empresa.Idioma}}' id='principal'>
<body>
    <div>{{Usuario.Nome}}</div>
    <a href="Autenticacao/Logoff">{{ _.Idioma('Logout') }}</a>
<div>
    {{DynamicContent}}
</div>
</body>