<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
</head>
<body>
    <div>
        <h2>Alterar Senha</h2>
        <form id="trocarSenhaForm" method="POST" action="/trocarSenhaUsuario" style="width: 100%;">
            <div>
                <label for="email">Senha atual</label>
                <input maxlength="60" id="senha" name="senha" type="password" required>
            </div>
            <div>
                <label for="novaSenha">Nova senha</label>
                <input maxlength="60" id="novaSenha" name="novaSenha" type="password" required>
            </div>
            <div>
                <label for="confirmaSenha">Confirmar nova senha</label>
                <input maxlength="60" id="confirmaSenha" name="confirmaSenha" type="password" required>
            </div>
            <div>
                <button type="submit">Alterar</button>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            $('#trocarSenhaForm').on('submit', function(e) {
                e.preventDefault();

                const novaSenha = $('#novaSenha').val();
                const confirmaSenha = $('#confirmaSenha').val();

                if (novaSenha !== confirmaSenha) {
                    alert('As senhas não coincidem!');
                    return;
                }

                const formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/Usuario/trocarSenhaUsuario',
                    data: formData,
                    success: function(response) {
                        alert(response.message);
                        response.success ? $('#modal-ok').attr('onclick', 'window.location.href="../";') : $('#modal-ok').html("Confirmar");
                    },
                    error: function(xhr, status, error) {
                        alert('Ocorreu um erro: ' + error);
                    }
                });
            });
        });
    </script>
</body>
</html>
